<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <!--Ext and ux styles -->
    <link type="text/css" rel="stylesheet" href="http://extjs.cachefly.net/ext-3.1.1/resources/css/ext-all.css"/>
    <link href="http://extjs.cachefly.net/ext-3.1.1/examples/ux/css/LockingGridView.css" rel="stylesheet" type="text/css" />
    <link href="http://extjs.cachefly.net/ext-3.1.1/examples/ux/css/Spinner.css" rel="stylesheet" type="text/css" />
    
    <!--Gantt styles-->
    <link href="http://ext-scheduler.com/css/sch-gantt-all.css" rel="stylesheet" type="text/css" />
    
    <!--Implementation specific styles-->

    <link href="gantt.css" rel="stylesheet" type="text/css" />
    <link href="http://ext-scheduler.com/css/examples.css" rel="stylesheet" type="text/css" />
    
    <!--Ext lib and UX components-->
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.1.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.1.1/ext-all-debug.js"></script>
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.1.1/examples/ux/LockingGridView.js"></script>
    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.1.1/examples/ux/Spinner.js"></script>

    <script type="text/javascript" src="http://extjs.cachefly.net/ext-3.1.1/examples/ux/SpinnerField.js"></script>
    
    <!--Gantt components-->
    <script src="http://ext-scheduler.com/js/sch-gantt-base.js" type="text/javascript"></script>
    <script src="http://ext-scheduler.com/js/sch-gantt-eval.js" type="text/javascript"></script>

    <!--Application files-->
    <script src="http://ext-scheduler.com/examples/ganttbasic/gantt.js" type="text/javascript"></script>

    <title>Gantt demo</title>
</head>
<body>
    <img src="http://ext-scheduler.com/examples/ganttbasic/images/logogantt.png" style="margin-bottom:20px"/>
    <br />
    <p>
        This is a simple example with basic functionality only. Tasks titles can be edited inline and you can drag/drop and resize tasks.
    </p>
    <p>

        To see the data loaded into the gantt chart, click these links:            
    </p>
    <ul>
        <li><a href="tasks.json">Tasks</a></li>
        <li><a href="dependencies.json">Dependencies</a></li>
    </ul>
    <br />
    <p>Note that the js for the example code is not minified so it is readable. See <a href="gantt.js">gantt.js</a>.</p>

    <br />
    
</body>
</html>
