<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css"
	href="../../../../libs/ext_3_2_1/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css"
	href="../wls.css" />	
<script type="text/javascript"
	src="../../../../libs/jquery-1.4.2.js"></script>	
<script type="text/javascript"
	src="../../../../libs/ext_3_2_1/adapter/jquery/ext-jquery-adapter.js"></script>
<!--  
<script type="text/javascript"
	src="../../../../libs/ext_3_2_1/adapter/ext/ext-base.js"></script>	
-->
<script type="text/javascript"
	src="../../../../libs/ext_3_2_1/ext-all.js"></script>
<script type="text/javascript" src="../il8n.js"></script>
<script type="text/javascript" src="../wls.js"></script>
<script type="text/javascript" src="../quiz.js"></script>
<script type="text/javascript" src="../quiz/paper.js"></script>
<script type="text/javascript" src="../question.js"></script>
<script type="text/javascript" src="../question/choice.js"></script>


<script type="text/javascript">
var quiz_paper;
Ext.onReady(function(){
	quiz_paper = new wls.quiz.paper();
	
	quiz_paper.id = 11;
	quiz_paper.naming = 'quiz_paper';
	quiz_paper.initLayout();
	quiz_paper.ajaxIds("quiz_paper.ajaxQuestions('quiz_paper.addQuestions()');");
});
</script>
</head>
<body>

</body>
</html>