<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ExtTop - Desktop Sample App</title>
<link rel="stylesheet" type="text/css"
	href="../libs/ext_3_2_1/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="free/view/desktop/css/desktop.css" />
    

<script type="text/javascript" src="../libs/jquery-1.4.2.js"></script>
<script type="text/javascript" src="../libs/jqueryextend.js"></script>	
<script type="text/javascript"
	src="../libs/ext_3_2_1/adapter/jquery/ext-jquery-adapter.js"></script>
<script type="text/javascript" src="../libs/ext_3_2_1/ext-all.js"></script>
<script type="text/javascript" src="../libs/ext_3_2_1/src/locale/ext-lang-zh_CN.js"></script>

<!-- wls -->    
<script type="text/javascript" src="../libs/swfobject.js"></script>
<script type="text/javascript" src="free/view/il8n.js"></script>
<script type="text/javascript" src="free/view/wls.js"></script>
<script type="text/javascript" src="free/view/user.js"></script>
<script type="text/javascript" src="free/view/user/group.js"></script>
<script type="text/javascript" src="free/view/user/privilege.js"></script>
<script type="text/javascript" src="free/view/quiz.js"></script>
<script type="text/javascript" src="free/view/quiz/paper.js"></script>
<script type="text/javascript" src="free/view/quiz/wrong.js"></script>
<script type="text/javascript" src="free/view/quiz/log.js"></script>
<script type="text/javascript" src="free/view/subject.js"></script>    


    <!-- DESKTOP -->
    <script type="text/javascript" src="free/view/desktop/js/StartMenu.js"></script>
    <script type="text/javascript" src="free/view/desktop/js/TaskBar.js"></script>
    <script type="text/javascript" src="free/view/desktop/js/Desktop.js"></script>
    <script type="text/javascript" src="free/view/desktop/js/App.js"></script>
    <script type="text/javascript" src="free/view/desktop/js/Module.js"></script>
    <script type="text/javascript" src="free/view/desktop/sample.js"></script>
    
    
</head>
<body scroll="no">

<div id="x-desktop">

    <dl id="x-shortcuts">
        <dt id="grid-win-shortcut">
            <a href="#"><img src="free/view/desktop/images/s.gif" />
            <div>Grid Window</div></a>
        </dt>
        <dt id="acc-win-shortcut">
            <a href="#"><img src="free/view/desktop/images/s.gif" />
            <div>Accordion Window</div></a>
        </dt>     
    </dl>
   
</div>

<div id="ux-taskbar">
	<div id="ux-taskbar-start"></div>
	<div id="ux-taskbuttons-panel"></div>
	<div class="x-clear"></div>
</div>

</body>
</html>
